/*----------------
   COMMON
----------------*/
:root {
    --ms-primary-color: #f8f9fa;
    --ms-color-aside: #061e34;
    --ms-secondary-color: #1c71e8;
    --ms-bar-color: #e5e5e5;
    --ms-headertab-color: #f7f7f7;
    --ms-bell-color: #ff8f00;
}
/*----------------
   HEADER
----------------*/
header {
    background-color: var(--ms-primary-color);
    padding: .625rem 1.25rem;
}
.logo {
    width: 100%;
}
.fa-bell {
    color: var(--ms-bell-color);
}
#bell::after {
    display: none;
}
/*----------------
   ASIDE
----------------*/
aside {
    background-color: #061e34;
    width: 160px;
    height: 100vh;
    padding: 1.875rem 0;
}
.col-sidebar {
    height: 100%;
}
.col-sidebar-up a, .col-sidebar-down a {
    text-decoration: none;
    color: #fff;
}
/*----------------
   MAIN
----------------*/